{% extends "./base.html" %}

{% block title %} eliminar {% endblock %}

{% block body %}
{% load static %}


<h1>Eliminar Artista</h1>
<p>¿Estás seguro de que deseas eliminar este artista?</p>
<p>ID Usuario:{{ usuario.ID_usuario }}
<p>Nombre del Artista: {{ usuario.nombre_usuario }}</p>
<p>Descripción: {{ usuario.descripcion }}</p>
<p>Imagen: {{ usuario.img }}</p>

<form action="{% url 'formulariodelete' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="ID_usuario" value="{{ ID_usuario }}">
  <button type="submit">Eliminar</button>
</form>
{% endblock %}