{% extends "./base.html" %}

{% block title %} Modificar {% endblock %}

{% block body %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Actualizar artistas</title>
</head>
<body>
    <h1>mod</h1>
    <form method="post" action="{% url 'formulariomod'%}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="ID_artista" value="{{ ID_artista }}">
        
        <label for="nombre_artista">nombre_artista:</label>
        <input type="text" name="nombre_artista" value= "{{ usuario.nombre_artista }}">
        
        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion">{{ usuario.descripcion }}</textarea>
        
        <label for="img">img:</label>
        <input type="file" name="img">
        
        
        <button type="submit">Guardar</button>
      </form>
</body>
</html>

{% endblock %}