{% extends "./base.html" %}

{% block title %} Modificar {% endblock %}

{% block body %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Actualizar artistas</title>
</head>
<body>
    <h1>mod</h1>
    <form method="post" action="{% url 'formulariomod'%}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="ID_usuario" value="{{ ID_usuario }}">
        
        <label for="nombre_usuario">nombre_artista:</label>
        <input type="text" name="nombre_usuario" value= "{{ usuario.nombre_usuario }}">
        
        
        
        
        <button type="submit">Guardar</button>
      </form>
</body>
</html>

{% endblock %}